body{
background-color: black;
color: rgb(255, 255, 255);
}

header {
    border-bottom: solid 2px;
    padding: 20px;
    font-size: 32px;
    font-family: "Fascinate Inline", system-ui;
}

section{
    background-color: blue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    font-family: "Silkscreen", sans-serif;
}