body{
background-color: black;
color: rgb(255, 255, 255);
margin: 0px;
}

header {
    border-bottom: solid 2px;
    padding: 20px;
    font-size: 32px;
    font-family: "Fascinate Inline", system-ui;
}

.chamada{
    background-color: blue;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
    font-family: "Silkscreen", sans-serif;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }

  .categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
  }

  
.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}